@layer theme, base, antd, components, utilities;

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
/* antd button */
.ant-btn-color-primary {
  box-shadow: none !important;
}

/* antd upload */
.ant-upload-select {
  width: 100%;
}

/* antd label */
.ant-form-item-label {
  font-weight: 600;
}
.ant-form-item-label > label {
  width: 100%;
}

/* antd dropdown */
.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  padding: 6px 8px !important;
  border-radius: var(--ant-border-radius) !important;
}
.ant-dropdown-menu-item-selected {
  color: var(--ant-color-white) !important;
  background-color: var(--ant-color-primary) !important;
}
.ant-dropdown-menu-submenu-selected > .ant-dropdown-menu-submenu-title {
  color: var(--ant-border-text) !important;
}

/* antd menu */
.ant-menu-item,
.ant-menu-submenu-title {
  padding-left: 8px !important;
}
.ant-menu-sub {
  border-left: 1px solid var(--ant-color-border) !important;
  margin-left: 24px !important;
  padding-left: 0px !important;
}
.ant-menu-submenu-arrow {
  inset-inline-end: 8px !important;
}
.ant-menu-title-content {
  transition: none !important;
}
.ant-menu-submenu-title {
  color: var(--ant-color-text) !important;
}

/* antd table */
.ant-table-content {
  scrollbar-width: auto !important;
  scrollbar-color: auto !important;
}
